# coding: utf-8

"""
    Traffic data concentrator - OpenAPI 3.0

    This is a development Swagger-supported server based on the OpenAPI 3.0 specification. You can find out more about Swagger at  [https://swagger.io](https://swagger.io).  # noqa: E501

    OpenAPI spec version: 0.9.4
    Contact: d3e@fd.cvut.cz
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""

from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from swagger_client.api_client import ApiClient


class GolemioApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def golemio_get_last_data(self, updated_since, **kwargs):  # noqa: E501
        """Get last data uploaded from the Golemio platform  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.golemio_get_last_data(updated_since, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str updated_since: Limit results to the ones updated after (timestamp greater than) (required)
        :param list[str] lineid: Line IDs (PT schedule numbers) to retrieve data from
        :return: list[InlineResponse2004]
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.golemio_get_last_data_with_http_info(updated_since, **kwargs)  # noqa: E501
        else:
            (data) = self.golemio_get_last_data_with_http_info(updated_since, **kwargs)  # noqa: E501
            return data

    def golemio_get_last_data_with_http_info(self, updated_since, **kwargs):  # noqa: E501
        """Get last data uploaded from the Golemio platform  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.golemio_get_last_data_with_http_info(updated_since, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str updated_since: Limit results to the ones updated after (timestamp greater than) (required)
        :param list[str] lineid: Line IDs (PT schedule numbers) to retrieve data from
        :return: list[InlineResponse2004]
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['updated_since', 'lineid']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method golemio_get_last_data" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'updated_since' is set
        if ('updated_since' not in params or
                params['updated_since'] is None):
            raise ValueError("Missing the required parameter `updated_since` when calling `golemio_get_last_data`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'lineid' in params:
            query_params.append(('lineid', params['lineid']))  # noqa: E501
            collection_formats['lineid'] = 'multi'  # noqa: E501
        if 'updated_since' in params:
            query_params.append(('updatedSince', params['updated_since']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/golemio/lastData', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='list[InlineResponse2004]',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def golemio_get_lines(self, **kwargs):  # noqa: E501
        """Retrieve list of public transport lines covered by golemio  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.golemio_get_lines(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :return: list[str]
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.golemio_get_lines_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.golemio_get_lines_with_http_info(**kwargs)  # noqa: E501
            return data

    def golemio_get_lines_with_http_info(self, **kwargs):  # noqa: E501
        """Retrieve list of public transport lines covered by golemio  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.golemio_get_lines_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :return: list[str]
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = []  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method golemio_get_lines" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['api_key']  # noqa: E501

        return self.api_client.call_api(
            '/golemio/lines', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='list[str]',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
